@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <h1 class="text-center text-muted">- Welcome To InfoSys -</h1>
        <p class="text-center ">
            An Enterprice System
        </p>
    </div>